.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', sans-serif;
}

.txtDiv {
  margin: 10px 0px;
}

.btnDiv {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 14px;
  border: 0px;
  color:aliceblue;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
}

.yesBtn {
  background-color: #337357;
}

.noBtn {
  background-color: #C40C0C;
}

.shadowed-text {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
}